<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Kun.KunChat.mapper.GroupInfoMapper">

    <resultMap id="BaseResultMap" type="com.Kun.KunChat.entity.GroupInfo">
            <id property="groupId" column="group_id" />
            <result property="groupName" column="group_name" />
            <result property="ownerId" column="owner_id" />
            <result property="createTime" column="create_time" />
            <result property="notice" column="notice" />
            <result property="joinType" column="join_type" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        group_id,group_name,owner_id,create_time,notice,join_type,
        status
    </sql>
</mapper>
